/*
 * General Stuff
 */

 * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: #242424;
    font-family: sans-serif;
    color: #eee;
}

/*
 * Header
 */

h1 {
    text-align: center;
}

#header-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

#legend {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
}

#legend > img {
    width: 200px;
}

#legend > div {
    border: solid 1.5px #eee;
    border-radius: 3px;
    padding: 4px 8px 2px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#legend .null {
    color: #444;
    font-style: italic;
}

#legend .symbol,
#legend .symbol img {
    border: none;
    height: 27px;
    padding: 0 4px;
}

#legend #right-click {
    position: absolute;
    left: 98%;
    top: 19%;
}

#legend #left-click {
    position: absolute;
    right: 98%;
    top: 37%;
}

#legend #middle-click {
    position: absolute;
    right: 98%;
    top: -7%;
}

#layouts input,
#layouts select {
    width: 15em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    margin-right: 0.3em;
    background-color: #444;
    color: #ccc;
    border: none;
}

#layouts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

/*
 * Footer
 */

#footer {
    margin: 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 100;
}

#footer div:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#footer img {
    height: 1.5em;
    margin: 0 0.5em
}

a, a:visited {
    color: #eee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*
 * App
 */

#app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2em auto;
    cursor: auto;
}

/*
 * The grid
 */

#grid {
    display: inline-block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-right: 2em;
    width: 896px;
    height: 768px
}

#grid svg {
    shape-rendering: crispEdges;
}

#grid rect {
    fill: #111;
    stroke: #eee;
    stroke-width: 1;
}

text {
    font-family: Verdana;
    font-weight: bold;
    font-size: 42px;
    text-anchor: middle;
    alignment-baseline: central;
    fill: #fff;
    stroke: #000;
    stroke-width: 3;
}

#compass {
    display: inline-block;
    position: absolute;
    color: #ccc;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    right: 20px;
    top: 20px;
    width: 1.5em;
    pointer-events: none;
}

#move-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 160px;
    height: 160px;
    pointer-events: none;
}

#move-layout div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 45px;
    height: 45px;
    color: #ccc;
    background: #444;
    border: solid 2px #888;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: all;
}

#move-layout div span {
    display: inline-block;
    margin: auto;
}

#rotate-ccw,
#rotate-cw,
#center-grid {
    font-weight: bold;
    font-size: xx-large;
}

#rotate-ccw {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

#rotate-cw {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

/*
 * Tiles
 */

.tile {
    background-repeat: no-repeat;
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-pixelated;
        image-rendering: pixelated;
}

#tile-selector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 300px;
    height: 300px;
}

#tile-selector .tile {
    height: 64px;
    width: 64px;
}

#tile-selector .white {
    background-image: url('../img/white.png');
}

#tile-selector .lt-gray {
    background-image: url('../img/lt-gray.png');
}

#tile-selector .gray {
    background-image: url('../img/gray.png');
}

#tile-selector .black {
    background-image: url('../img/black.png');
}

#tile-selector .red {
    background-image: url('../img/red.png');
}

#tile-selector .orange {
    background-image: url('../img/orange.png');
}

#tile-selector .yellow {
    background-image: url('../img/yellow.png');
}

#tile-selector .lt-green {
    background-image: url('../img/lt-green.png');
}

#tile-selector .green {
    background-image: url('../img/green.png');
}

#tile-selector .cyan {
    background-image: url('../img/cyan.png');
}

#tile-selector .lt-blue {
    background-image: url('../img/lt-blue.png');
}

#tile-selector .blue {
    background-image: url('../img/blue.png');
}

#tile-selector .purple {
    background-image: url('../img/purple.png');
}

#tile-selector .magenta {
    background-image: url('../img/magenta.png');
}

#tile-selector .pink {
    background-image: url('../img/pink.png');
}

#tile-selector .brown {
    background-image: url('../img/brown.png');
}

text {
    pointer-events: none;
}

/*
 * Sidebar
 */

#sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}

/*
 * Perspective
 */

#perspective-selector {
    width: 300px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}

#column-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    padding: auto;
    height: 80px;
    width: 80px;
    line-height: 70px;
    margin: 0.5em 0.125em;
    font-size: 30pt;
    text-align: center;
    border: 7px solid #444;
    border-radius: 10px;
    background-color: #444;
    cursor: pointer;
}

.column:nth-of-type(2) > label {
    font-size: 20pt;
    margin: 1em 0.125em;
}

input[type="radio"]:checked + label {
    border-color: #888;
}

#perspective-selector img {
    height: 100px;
    width: 100px;
}

/*
 * The buttons
 */

#button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
}

button {
    height: 2.5em;
    min-width: 6em;
    margin: 0 auto;
    cursor: pointer;
    background: #444;
    border: none;
    border-radius: 5px;
    color: #eee;
}

button:hover,
label:hover {
    background: #666;
    border-color: #666;
}

button,
label,
#move-layout,
#legend {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}